.navbar {
  background: url('/poster-tile.jpg') repeat;
  background-color: var(--color-primary);
  min-height: 180px;
  padding: 1rem 2rem;
  position: relative;

  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center;
}

.navbar ul {
  display: flex;
  gap: 4rem;
  list-style: none;
  margin: 0;
  padding: 0;
  transform: translateY(-20px); /* desplaza hacia arriba */
}


.navbar li a {
  font-size: 1.5rem; /* Tamaño más grande */
  font-weight: bold;
  text-decoration: none;
  color: var(--color-navbar); /* o simplemente usa `inherit` si ya lo define */
}

.navbar::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 72px;
  background: url('/poster-mask.png') no-repeat center bottom;
  background-size: cover;
  pointer-events: none;
}

.navbar li a {
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--color-navbar);
  transition: color 0.3s ease;
}

/* Línea animada debajo al hacer hover */
.navbar li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 3px;
  background-color: var(--color-navbar);
  transition: width 0.3s ease;
}

.navbar li a:hover::after {
  width: 100%;
}

