.card {
  --background: #fff;
  --cardShadow: rgba(32,33,37,.1);
  --cardShadowHover: rgba(28, 67, 221, 0.06);
  --cardShadowActive: rgba(32,33,37,.55);
  --cardBorder: #dbdce0;
  --cardBorderActive: #1a73e8;
  --textColor: #202125;
  --linkColor: #1967d2;
  --ratingColor: #faab00;

  display: flex;
  flex-direction: row;
  width: 750px;
  height: 350px;
  background: var(--background);
  color: var(--textColor);
  border: 1px solid var(--cardBorder);
  box-shadow: 8px 8px 0 var(--cardShadow);
  transition: box-shadow .5s, transform .5s;
  border-radius: 8px;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  .card {
    --background: var(--color-surface);
    --cardShadow: rgba(0,0,0,.28);
    --cardShadowHover: rgba(0,0,0,.16);
    --cardShadowActive: rgba(0,0,0,.55);
    --cardBorder: #202125;
    --cardBorderActive: var(--color-secondary);
    --textColor: #202125;
    --linkColor: #8ab4f8;
  }
}

.card:hover {
  transform: translate(-2px, -4px);
  box-shadow: 16px 16px 0 var(--cardShadowHover);
}

.card:active {
  transform: translate(-2px, -4px);
  border: 1px solid var(--cardBorderActive);
  box-shadow: 4px 4px 0 var(--cardShadowActive);
}

.card-left {
  flex: 1;
  max-width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.card-left img {
  height: 90%;
  border-radius: 8px;
}

.card-right {
  flex: 1;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-right > .title,
.card-right > .description,
.card-right > .rating,
.card-right > .link {
  margin-bottom: 0.7em;
  cursor: default;
  user-select: none;
}

.card-right > .title {
  margin-top: 0.5em;
  font-weight: bold;
  font-size: 1.5em;
}

.card-right > .description {
  line-height: 1.5em;
  min-height: 6em;
  font-size: 1em;
}

.card-right > .rating {
  font-size: 1.5em;
  color: var(--ratingColor);
  font-weight: bold;
  position: relative;
  width: max-content;
}

.card-right > .rating:before {
  content: "☆☆☆☆☆";
}

.card-right > .rating:after {
  content: "★★★★★";
  position: absolute;
  left: 0;
  z-index: 0;
  width: calc(var(--rating) * 1%);
  overflow: hidden;
}

.card-right > .link {
  color: var(--linkColor);
  font-size: .9em;
  font-weight: 600;
  text-decoration: none;
}

.card-right > .link:after {
  content: "↗";
  display: inline-block;
  margin-left: .3em;
  transition: transform .3s ease-in-out;
}

.card:hover .card-right > .link:after {
  transform: translate(.2em, -.2em);
}

/* Responsive Layout */
@media screen and (max-width: 768px) {
  .card {
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  .card-left {
    max-width: 100%;
    padding: 0;
  }

  .card-left img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
  }

  .card-right {
    padding: 20px;
  }
}
